.tabs-wrapper .tab-sub-content {
    float: left;
    width: 100%;
}
.wrapper-content {
    float: left;
    padding-top: 35px;
    width: calc(100% - 255px);
    margin-left: 255px;
    padding: 20px 70px;
}